@import 'variables', 'reset', 'output';

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: map-get($colors, 'primary');
}

.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "graph header b"
    "graph instructions instructions"
    "graph controls controls"
    "graph output output";
  grid-template-rows: 10% 15% 35% 40%;
  grid-template-columns: 0.8fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  grid-area: header;
}

.instructions {
  grid-area: instructions;
  display: flex;
  flex-flow: column;
}

.graph {
  grid-area: graph;
  height: 100%;
}


.controls {
  grid-area: controls;
}

.handle {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
