@import 'variables', 'reset', 'output', 'info';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: map-get($colors, 'primary');
  font-family: 'Roboto', sans-serif;
  color: map-get($colors, 'shadow');
}

.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "graph header b"
    "graph instructions instructions"
    "graph controls controls"
    "graph output output";
  grid-template-rows: 10% 35% 15% 40%;
  grid-template-columns: 0.8fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  grid-area: header;
  font-size: 2em;
}

.instructions {
  padding-right: 2em;
  grid-area: instructions;
  display: flex;
  flex-flow: column;
  > * {
    margin: 1em;
  }
}

.graph {
  grid-area: graph;
  height: 100%;
}

.anchor {
  fill: map-get($colors, 'accent');
}

.graphBody {
  stroke: map-get($colors, 'shadow');
}

.curveLine {
  fill: map-get($colors, 'secondary');
  stroke: map-get($colors, 'accent');
  stroke-width: 2;
}

.controls {
  grid-area: controls;
}

.handle {
  fill: map-get($colors, 'secondary');
  stroke: map-get($colors, 'accent');
  stroke-width: 2;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
